body{
    font-family: 'Courier New', Courier, monospace;
}
#visor{
    margin: auto;
    margin-top:30px;
    width: 230px;
}
#visor p{
    margin-right: 40px;
    float: left;
}
.imagens{
    height: 50px;
    width: 50px;
}
.imagensJogo{
    height: 40px;
    width: 40px;
    margin-top: 20px;
    margin-left: 20px;
}
.espaco{
    width: 80px;
    height: 80px;
    border: 2px solid black;
    float: left;
}
#tabuleiro{
    height: 252px;
    width: 252px;
    margin: auto;
    margin-top: 30px;
}